# Server and templating
fastapi==0.104.0
starlette==0.31.0
uvicorn==0.23.2
ninjadog==0.5.2
jinja2==3.1.2

# Product data
ebaysdk==2.2.0
bestbuyapi==2.0.0

# LLM
semantic-kernel==0.3.14.dev0
google-cloud-secret-manager==2.16.4
