@import (reference) "global.less";
@import "loader.less";

#search {
  width: 100%;

  input[type="text"] {
    .fg1();
    .bg3();

    border-width: 2.5px;
    border-color: @fg;
    border-style: solid;
    box-shadow: fade(@bg-sec, 0%) 0 8px 32px;

    transition: border-color .4s, box-shadow 1s;

    &:focus {
      border-color: @bg-sec;
      box-shadow: fade(@bg-sec, 32%) 0 8px 32px;
    }

    &:disabled {
      opacity: .6;
    }
  }

  ::placeholder {
    color: desaturate(darken(@bg, 20%), 40%) !important;
  }
}

#submit {
  position: absolute;
  top: 48px;
  right: 86px;
  cursor: pointer;
  transition: color .2s;
}

#search input[type="text"]:focus + #submit {
  .bg2-fg();
}

#comparison-table {
  width: 100%;
  margin-top: 32px;

  @br: 8px;
  border: @fg 2.5px solid;
  border-radius: @br !important;
  border-collapse: initial !important;

  * {
    border: desaturate(darken(@bg-box, 5%), 10%) .75px solid;
    padding: 4px;
    //border-radius: 4px !important;
  }

  tr {
    :first-child {
      border-left: none;
    }

    :last-child {
      border-right: none;
    }
  }

  tr:first-of-type * {
    border-top: none;
  }

  tr:last-of-type * {
    border-bottom: none;
  }
}