{% extends "layout.html" %}
{% block title %}Compare Products{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}
{% block btn_search_active %}true{% endblock %}

{% block main %}
    <form id="search">
        <label>
            <input type="text" name="q" placeholder="I'm looking for..." autocomplete="off"
                   class="r-16 p-3-8 h2 w-fill wt-300"/>
            <span id="submit"><i class="fa fa-arrow-right fa-2x"></i></span>
        </label>
    </form>

    <!--
    Remember to add hover effects!!!
    If you're seeing this, I didn't remember :(
    -->
    <table id="comparison-table" class="table table-bordered h4">
    </table>
{% endblock %}

{% block end_body %}
    <!-- Awful pre-generated loader thing -->
    <div id="loader" class="loadingio-spinner-gear-ks8ve7hl1z">
        <div class="ldio-q4gquvbry6">
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <script type="application/javascript"
            src="{{ url_for('static', filename='lib/js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript">
        let waiting = false;

        document.onkeydown = function (e) {
            let search_bar = document.querySelector('input[name="q"]');

            if (e.key === "/") {
                e.preventDefault();
                search_bar.focus();
            } else if (e.key === "Enter") {
                e.preventDefault();
                submit_search(search_bar.value);
            }
        }

        document.querySelector('#submit').onclick = function (e) {
            e.preventDefault();
            let search_bar = document.querySelector('input[name="q"]');
            submit_search(search_bar.value);
        }

        function submit_search(q) {
            $('input[name="q"]').blur();

            if (waiting) {
                return
            }

            waiting = true;
            $('#loader').css('display', 'block');
            $('input[name="q"]').prop('disabled', true);

            console.log(`Sending comparison query "${q}"`);
            $.ajax({
                url: `/compare/${q}`,
                type: "GET",
                dataType: "json",
                success: on_search_complete,
                error: alert
            });
        }

        {#let key_filters = [#}
        {#    'Display', 'Storage', 'Zoom'#}
        {#]#}

        function on_search_complete(data) {
            waiting = false;
            $('#loader').css('display', 'none');
            $('input[name="q"]').prop('disabled', false);
            console.log(data);

            let freq = {}
            let max_freq = 0;
            for (const [product, specs] of Object.entries(data)) {
                for (let key in specs) {
                    if (key === 'url' || key === "thumbnail") continue;

                    if (key in freq) freq[key]++;
                    else freq[key] = 1;

                    if (freq[key] > max_freq) max_freq = freq[key];
                }
            }

            if (max_freq <= 1) {
                alert("Malformed LLM output! Please try again (it's not you, it's me).");
                return;
            }

            // Awful convoluted table generation logic, but I haven't slept in 24 hours
            // and I have to submit this in 2 hours
            let table = document.querySelector('#comparison-table');
            table.innerHTML = '';

            let header = document.createElement('tr');
            header.innerHTML = `<th>Product</th>`;
            for (let key in freq) {
                if (freq[key] >= 2) {
                    header.innerHTML += `<th>${key}</th>`;
                }
            }
            table.appendChild(header);

            for (const [product, specs] of Object.entries(data)) {
                let row = document.createElement('tr');
                row.innerHTML = `<td><a href="${specs['url']}">${product}</a></td>`;
                for (let key in freq) {
                    if (freq[key] >= 2) {
                        if (key in specs) {
                            row.innerHTML += `<td>${specs[key]}</td>`;
                        } else {
                            row.innerHTML += `<td>Not specified</td>`;
                        }
                    }
                }
                table.appendChild(row);
            }
        }
    </script>
{% endblock %}