<!DOCTYPE html>
<html lang="en">
<head>
    {# Metadata #}
    <meta charset="UTF-8">
    <meta name="title" content="Due Diligence">
    <meta name="description" content="Your AI product comparison helper">
    <meta name="keywords" content="ai, shopping, products, compare, llm, openai, chatgpt, gpt">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="enwask">

    {# Title #}
    <title>{% block title %}Due Diligence{% endblock %} - Due Diligence</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {# Styles #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
<div class="container w-fill h-screen">
    <div class="row-fluid h-fill">
        <div id="sidebar" class="col2 h-fill p-0-4">
            <h1 class="h1 gabarito m-8-3 lh-1">Due diligence</h1>
            <hr class="bg1 w-11 h-1 m-0-3 m-b-12 m-t-n1"/>

            <div class="list-group no-b">
                <a
                        href="{{ url_for('index') }}"
                        class="list-group-element nav-btn p-3 r-3 m-b-4 h4 wt-500 middle \
                        {% block btn_search_active %}{% endblock %}">
                    <span class="icon-box"><i class="fa fa-search fa-075x m-r-2"></i></span>
                    <span class="h3">Search</span>
                </a>

                <a
                        href="{{ url_for('lists') }}"
                        class="list-group-element nav-btn p-3 r-3 m-b-4 h4 wt-500 middle \
                        {% block btn_lists_active %}{% endblock %}">
                    <span class="icon-box"><i class="fa fa-bookmark fa-075x m-r-2"></i></span>
                    <span class="h3">Lists</span>
                </a>

                <a
                        href="{{ url_for('history') }}"
                        class="list-group-element nav-btn p-3 r-3 m-b-4 h4 wt-500 middle \
                        {% block btn_history_active %}{% endblock %}">
                    <span class="icon-box"><i class="fa fa-clock-o fa-075x m-r-2"></i></span>
                    <span class="h3">History</span>
                </a>
            </div>
        </div>

        <div id="main" class="col10 h-fill p-8-8 m-0">
            {% block main %}{% endblock %}
        </div>
    </div>
</div>
{% block end_body %}{% endblock %}
</body>
</html>