doctype html
html
    // author: enwask
    head
        // page title and favicon
        title #{title} - Due Diligence
        link(rel="shortcut icon" href="/static/favicon.ico")

        // metadata
        block meta
            meta(charset="utf-8")
            meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
            meta(name="language" content="English")
            meta(name="title" content="Due Diligence")
            meta(name="author" content="enwask")
            meta(name="description" content="Your AI product comparison helper")
            meta(name="keywords" content="ai, shopping, products, compare, llm, openai, chatgpt, gpt")

        // stylesheets
        block css
            link(rel="stylesheet" href="static/css/global.css")

        // frontloaded scripts
        block scripts_top
            //- top scripts here

    body
        // main page content
        block content
            p Page content here

        // scripts
        block scripts
            script(src="static/js/global.js")